body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#mobile-menu {
    z-index: 100;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

.relative {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.sidebar {
    transition: transform 0.3s ease-in-out;
}

.sidebar-closed {
    transform: translateX(100%);
}

.sidebar-open {
    transform: translateX(0);
}